<h1 class="display-5">Lista de Pedidos</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Pedido No.</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <%= render  @orders %>
    </tbody>
</table>
<p class="lead">
    <%= link_to new_order_path, remote: true, class: "btn btn-primary btn-lg" do %>
        <%= fa_icon "plus" %> Nuevo Pedido
    <% end %>
</p>